/*
    
    MODAL

*/
.modal {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transform: translate(-100%, 100%);
    transition: all .5s ease-out;
    justify-content: center;
    z-index: 999;
}
.modal--open .modal {
    transform: translate(0%, 0%);
    visibility: visible;
}
.modal__content {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 5px 15px var(--gray);
    margin: auto;
    user-select: none;
}

/* 

MODAL UI

*/
.modal__top--bar {
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 35px;
    background-color: #E3E4E4;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    user-select: none;
}
.top-bar__title {
    position: absolute;
    width: 1000px;
    text-align: center;
    font-family: "system-ui";
    font-weight: 700;
    color: black;
    font-size: 15px;
}
.buttons__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85px;
    height: 100%;
    align-content: center;
    margin-left: 10px;
    z-index: 999;
}
.buttons {
    height: 17px;
    width: 17px;
    border-radius: 100%;
    user-select: none;
    cursor: pointer;
}
.close {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotate(-270deg);
    color: #FC6157;
    background-color: #FC6157;
    border: 1px solid #DA3C37;
    transition: all .3s;
}
.close:hover {
    transform: rotate(45deg);
    color: black;
}
.minimize {
    background-color: #FBBD2D;
    border: 1px solid #F0A318;
}
.maximize {
    background-color: #26C83F;
    border: 1px solid #12A025;
}

/* 

MODAL CONTENT / ANIMATIONS

*/
.modal__content--text {
    margin: 10px 10px;
}
.modal__content--text p {
    font-family: "system-ui";
    font-size: 1.5rem;
}
.cmd:nth-child(1)::before {
    content: "Local-MacBook-Pro:~ user$ ";
}
.cmd:nth-child(1) {
    width: 300.5px;
    white-space: nowrap;
    overflow-x: hidden;
}
.cmd__anim1 {
    animation: write-cmd1 3s forwards;
}
.cmd:nth-child(2)::before {
    content: "Local-MacBook-Pro: WebsiteV1 $ ";
}
.cmd:nth-child(2) {
    height: 0px;
    width: 358px;
    white-space: nowrap;
    overflow-x: hidden;
}
.cmd__anim2 {
    -webkit-animation: write-cmd2 3s forwards;
    -moz-animation: write-cmd2 3s forwards;
    -o-animation: write-cmd2 3s forwards;
    -ms-animation: write-cmd2 3s forwards;
    animation: write-cmd2 3s forwards;
}
.output {
    height: 0px;
    overflow-y: hidden;
}
.output:nth-child(1)::before {
    content: "";
}
.output--anim1 {
    animation: print-output1 .15s forwards;
}
.cmd:nth-child(4)::before {
    content: "Local-MacBook-Pro: WebsiteV1 $ ";
}
.cmd:nth-child(4) {
    height: 0px;
    width: 358px;
    white-space: nowrap;
    overflow-x: hidden;
}
.cmd__anim3 {
    animation: write-cmd3 3s forwards;
}
.cmd:nth-child(5)::before {
    content: "Local-MacBook-Pro: WebsiteV1 $ ";
}
.cmd:nth-child(5) {
    height: 0px;
    overflow: hidden;
}
.modal__close {
    position: absolute;
    transform: rotate(45deg);
    cursor: pointer;
    font-family: "Nunito";
    font-size: 4rem;
    font-variation-settings: "wght" 500;
    top: 0;
    right: 25px;
}


/* 

WINDOW - CONTACT FORM

*/
.window {
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 5px 15px var(--gray);
    visibility: hidden;
    margin: auto;
    
}
.window--open .window {
    visibility: visible;
    z-index: 9999;
}
body.open {
    overflow: hidden;
}
.window__top--bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #E3E4E4;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    user-select: none;
}
.window__title {
    position: absolute;
    width: 600px;
    text-align: center;
    font-family: "system-ui";
    font-weight: 700;
    color: black;
    font-size: 15px;
}
.window__content--form {
    display: inline-block;
    width: 100%;
    padding: 15px;
}
.form__box {
    margin: 0 0 20px 0;
}
.form__box--name {
    font-family: "SFMono";
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1px;
}
.form__input{
    height: 30px;
    width: 100%;
    resize: none;
    border: none;
    background-color: rgba(128, 128, 128, 0.169);
}
.input--message {
    height: 125px;
}
.form__add {
    align-items: bottom;
}
.email--link {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #464655;
}
.email--link:hover {
    color: #426AD6;
}

@media (max-width: 1080px) {
    .modal__content {
        width: 700px;
    }
    .top-bar__title {
        width: 700px;
    }
    .window {
        width: 500px;
    }
    .window__title {
        width: 500px;
    }
}
@media (max-width: 768px) {
    .modal__content {
        width: 450px;
    }
    .top-bar__title {
        width: 450px;
    }
    .modal__content--text > .cmd {
        white-space: normal;
        overflow-y: hidden;
    }
    .window {
        width: 375px;
    }
    .window__title {
        width: 375px;
    }
}
@media (max-width: 480px) {
    .modal__content {
        width: 350px;
    }
    .top-bar__title {
        width: 350px;
        font-size: 12px;
    }
    .buttons {
        width: 14px;
        height: 14px;
    }
    .modal__content--text p {
        font-size: 1.1rem;
    }
    .modal__content--text > .cmd {
        white-space: normal;
        overflow-y: hidden;
    }
    .window {
        width: 275px;
    }
    .window__title {
        width: 275px;
        font-size: 12px;
    }
}


/*
    
    ANIMATIONS / KEYFRAMES

*/
@keyframes write-cmd1 {
    0% {
      width: 300.5px;
    }
    100% {
      width: 100%;
    }
}
@keyframes write-cmd2 {
    0% {
      width: 358px;
    }
    100% {
      width: 100%;
    }
}
@keyframes write-cmd3 {
    0% {
        width: 358px;
    }
    100% {
        width: 100%;
    }
}
@keyframes print-output1 {
    0% {
        height: 0%;
    }
    100% {
        height: 192px;
    }
}