@import "modal.css";

:root{
    --body-color: #E2E8FD;
    --body-color-shadow: #afb3c1;
    --main-blue: #426AD6;
    --ashy-blue: #464655;
    --slaty-blue: #12255b;
    --gray: #57595d;
    --lime: #E6F8B2;
    --white: #FFF;
}
@font-face{
    font-family: 'FiraCode';
    src: url("/fonts/FiraCode-VariableFont_wght.ttf");
}
@font-face{
    font-family: 'Nunito';
    src: url("/fonts/Nunito-VariableFont_wght.ttf");
}
@font-face{
    font-family: 'OpenSans';
    src: url("/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face{
    font-family: 'Menlo';
    src: url("/fonts/Menlo-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-color);
}
section{
    margin: 0 auto;
    max-width: 1000px;
}
h1, h2, h3{
    font-family: "Fira Code";
}
p{
    font-family: "Nunito";
    font-variation-settings: "wght" 500;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/*
    
    RANDOM / MISC

*/
.highlighted{
    color: var(--main-blue);
    font-variation-settings: "wght" 700;
}
.primary-btn{
    font-family: "OpenSans";
    font-variation-settings: "wght" 900;
    background-color: transparent;
    color: var(--main-blue);
    border: 3px solid var(--main-blue);
    border-radius: 50px;
    padding: .7rem 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: var(--main-blue);
    color: var(--white);
    transform: scale(1.1);
}

/*
    
    NAVIGATION BAR

*/
#navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0 1.8rem;
    background-color: rgba(226, 232, 253, 0.85);
    box-shadow: 0 0 0 var(--body-color-shadow);
    transition: top 0.5s, box-shadow 0.3s;
}
#navbar.disappear{
    top: -100px;
}
#navbar.appear{
    top: 0px;
    box-shadow: 0 0px 25px var(--body-color-shadow);
}
.navbar__links{
    display: flex;
}
.navbar__link{
    margin: 1.2rem;
    color: var(--gray);
    font-family: "Nunito";
    font-variation-settings: "wght" 900;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition-duration: 0.5s;
    text-shadow: 3px 0 5px rgba(131, 134, 141, 0.85);
    cursor: pointer;
}
.navbar__link:hover{
    color: var(--main-blue);
    font-size: 1.5rem;
    text-shadow: 3px 0 5px rgba(99, 168, 220, 0.85);
}


/*
    
    HOME

*/
#home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.small-header{
    color: var(--ashy-blue);
    font-size: 1.3rem;
    margin: 0 0 15px 0;
}
.big-header{
    color: var(--main-blue);
    font-size: 5rem;
    font-variation-settings: "wght" 700;
}
.big-subheader{
    color: var(--slaty-blue);
    font-size: 4rem;
}
.home__para{
    max-width: 525px;
    margin: 15px 0 0 0;
}
.home__btn{
    margin-top: 1.8rem;
}
.home__btn--hire{
    transition: all .5s;
}


/*
    
    PROJECTS

*/

/*
    
    SOCIALS

*/
#socials{
    position: fixed;
    width: 50px;
    left: 30px;
    bottom: 30px;
    border: 2px solid var(--slaty-blue);
    border-radius: 10px;
    background-color: rgba(211, 220, 252, 0.514);
    padding: 2px;
}
.social__bar--list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social__bar--list li{
    padding: 15px 0;
    transition: all .5s;
}
.social__bar--list li:hover{
    color: var(--ashy-blue);
    transform: translateY(-3px) scale(1.1);
}
.social__bar--list li a{
    color: var(--ashy-blue);
    transition: all .5s;
}
.social__bar--list li a:hover{
    color: var(--main-blue);
}
