:root{
    --body-color: #E2E8FD;
    --body-color-shadow: #afb3c1;
    --main-blue: #426AD6;
    --ashy-blue: #464655;
    --slaty-blue: #12255b;
    --gray: #57595d;
    --lime: #E6F8B2;
    --white: #FFF;
}
@font-face{
    font-family: 'FiraCode';
    src: url("/fonts/FiraCode-VariableFont_wght.ttf");
}
@font-face{
    font-family: 'Nunito';
    src: url("/fonts/Nunito-VariableFont_wght.ttf");
}
@font-face{
    font-family: 'OpenSans';
    src: url("/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face{
    font-family: 'Menlo';
    src: url("/fonts/Menlo-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-color);
}
section{
    margin: 0 auto;
    max-width: 1000px;
}
h1, h2, h3{
    font-family: "Fira Code";
}
p{
    font-family: "Nunito";
    font-variation-settings: "wght" 500;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/*
    
    RANDOM / MISC

*/
.highlighted{
    color: var(--main-blue);
    font-variation-settings: "wght" 700;
}
.primary-btn{
    font-family: "OpenSans";
    font-variation-settings: "wght" 900;
    background-color: transparent;
    color: var(--main-blue);
    border: 3px solid var(--main-blue);
    border-radius: 50px;
    padding: .7rem 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: var(--main-blue);
    color: var(--white);
}

/*
    
    NAVIGATION BAR

*/
#navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0 1.8rem;
    background-color: rgba(226, 232, 253, 0.85);
    box-shadow: 0 0 0 var(--body-color-shadow);
    transition: top 0.5s, box-shadow 0.3s;
}
#navbar.disappear{
    top: -100px;
}
#navbar.appear{
    top: 0px;
    box-shadow: 0 0px 25px var(--body-color-shadow);
}
.navbar__links{
    display: flex;
}
.navbar__link{
    margin: 1.2rem;
    color: var(--gray);
    font-family: "Nunito";
    font-variation-settings: "wght" 900;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition-duration: 0.5s;
    text-shadow: 3px 0 5px rgba(131, 134, 141, 0.85)
}
.navbar__link:hover{
    color: var(--main-blue);
    font-size: 1.5rem;
}

/*
    
    MODAL

*/
.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: translate(-100%, 100%);
    transition: all .5s ease-out;
}
.modal--open .modal{
    z-index: 999;
    transform: translate(0%, 0%);
    visibility: visible;
}
.modal__content{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.modal__top--bar{
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 35px;
    background-color: #E3E4E4;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    user-select: none;
}
.top--bar__title{
    position: absolute;
    min-width: 1000px;
    text-align: center;
    font-family: "system-ui";
    font-weight: 700;
    color: black;
    font-size: 15px;
}
.buttons__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85px;
    height: 100%;
    align-content: center;
    margin-left: 10px;
    z-index: 999;
}
.buttons{
    height: 17px;
    width: 17px;
    border-radius: 100%;
    user-select: none;
    cursor: pointer;
}
.close{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotate(-270deg);
    color: #FC6157;
    background-color: #FC6157;
    border: 1px solid #DA3C37;
    transition: all .3s;
}
.close:hover{
    transform: rotate(45deg);
    color: black;
}
.minimize{
    background-color: #FBBD2D;
    border: 1px solid #F0A318;
}
.maximize{
    background-color: #26C83F;
    border: 1px solid #12A025;
}
.modal__content--form{
    visibility: hidden;
}
.modal__close{
    position: absolute;
    transform: rotate(45deg);
    cursor: pointer;
    font-family: "Nunito";
    font-size: 4rem;
    font-variation-settings: "wght" 500;
    top: 0;
    right: 25px;
}
.form__box{
    margin: 0 0 25px 0;
}
.form__input{
    width: 100%;
    resize: vertical;
}
/*
    
    HOME

*/
#home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.small-header{
    color: var(--ashy-blue);
    font-size: 1.3rem;
    margin: 0 0 15px 0;
}
.big-header{
    color: var(--main-blue);
    font-size: 5rem;
    font-variation-settings: "wght" 700;
}
.big-subheader{
    color: var(--slaty-blue);
    font-size: 4rem;
}
.home__para{
    max-width: 525px;
    margin: 15px 0 0 0;
}
.home__btn{
    margin-top: 1.8rem;
}
.home__btn--hire{
    transition: all .5s;
}
/*
    
    PROJECTS

*/


/*
    
    ANIMATIONS / KEYFRAMES

*/
